@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Paytone+One&display=swap');

$yelow: #FBBC05;
$white: #FFFFFF;
$dark: #323232;
$blue: #374957;
$darkBlue: #0D0C22;
$black: #000000;
$darkGreen: #00160A;
$yelowTwo: #FFB61D;

.header_item {
    font-family: "Open Sans", sans-serif;
    text-size-adjust: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    margin-top: 50px;
    &_logo {
        text-decoration: none;

    }
    &_list {
        display: flex;
        list-style-type: none;
    }
    &_link {
        text-decoration: none;
        font-size: 20px;
        color: $dark;
        font-weight: 300;
        transition: .2s;
        &:hover {
            color: $yelow;
        }
    }
    &_btn {
        background-color: $yelow;
        border-radius: 58px;
        color: $white;
        width: 204px; 
        height: 68px; 
        font-weight: 800;
        font-size: 28px;
        transition: .2s;
        &:hover {
            background-color: $blue;
        }
    }
    &_logo_1 {
        color: $black;
        font-family: "Paytone One", sans-serif;
        font-size: 60px;
        
        padding-right: 100px;
    }
    &_logo_2 {
        color: $yelow;
        font-family: "Paytone One", sans-serif;
        font-size: 60px;
    }

}
.container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    
    
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_text {
        margin-top: 70px;
    }
    &_title {
        font-family: "Alata", sans-serif;
        font-size: 69px;
        color: $darkBlue;
        font-weight: 500;
    
        &_friend {
         color: $yelow;
         font-family: "Paytone One", sans-serif;
         font-size: 69px;
        }
    }
    &_p {
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        font-weight: 300;
        color: $dark;
    
    }
    &_image {
        margin-top: 40px;
    }
}
.grid {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: auto;
    
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 224px;
        width: 299px;
        position: relative;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 24px;
    }
    &_svg {
        position: absolute;
        bottom: 150px;
        right: 150px;
    }
    &_title {
        
    }
}